/* Colors and fonts */

body {
  background: rgb(230, 230, 230);
  color: rgb(50, 50, 50);
  font-family: "Lora", serif;
  font-size: 16px;
}

h1 {
  color: #0C359E;
  font-family: "Noto Sans", sans serif;
  font-size: 32px;
  font-weight: 900;
}

h2 {
  color: #3887BE;
  font-family: "Noto Sans", sans serif;
  font-size: 22px;
  font-weight: lighter;
  font-weight: 500;
}

a {
  font-family: "Roboto", sans serif;
  text-decoration: none;
  color: white;
  font-weight: 700;
  Font-size: 16px;
}

a:hover{
  color: white;
  transition: color 0.3s ease;
}

/* Custom design with class */

.container{
  width: 700px;
  margin: 40px auto;
}

@media (max-width: 500px) {
  .container {
    width: 400px; 
  }
}

@media (max-width: 760px) {
  .container {
    width: 600px; 
  }
}

.card-white {
  background-color: #FEFEE2;
  padding: 40px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
  border-radius: 4px;
  margin: 20px 0px; 
  text-align: center;
}

.img-circle {
  border-radius: 50%;
}

.btn-blue {
  background-color: #378CE7;
  color: white;
  padding: 15px 20px;
  border-radius: 4px;
  transition: color 0.3s ease;
}
.btn-blue:hover {
  background-color: rgb(230, 230, 230);
  color: #0C359E;
  transition: color 0.3s ease;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}
.list-inline li {
  display: inline;
  padding: 10px;
}
.list-inline i {
  font-size: 50px;
  color: #0C359E;
}
.list-inline i:hover {
  color: rgb(230, 230, 230);
}

#introduction p {
  margin-bottom: 40px;
}


